.itemDetailBox {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 55px;

}

.itemData {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;
}

.itemDescription {
    border-top: solid 1px black;
    margin-top: 30px;
}

.buyAddBtns {
    font-size: 16px;
    margin: 10px 0;
    width: 180px;
}

.counterBox {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
}

.sinStockLabel {
    color: rgb(63, 63, 63);
    background-color: rgb(211, 211, 211);
    height: min-content;
    font-size: 14px;
    padding: 3px 5px;
    margin-left: 3px;
    border-radius: 20px;
}

button {
    color: rgb(12, 71, 197);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0 3px;
    padding: 2px 6px;
    border: solid 2px rgb(12, 71, 197);
    border-radius: 33px;
    box-shadow: 2px 2px 0 rgb(12, 71, 197);
    cursor: pointer;
}

button:active {
    transform: translateY(2px);
  }

.goBackButton {
    position: relative;
    right: 140px;
    bottom: 145px;
    border: none;
    box-shadow: none;
    border-radius: 0;
    background: none;
    width: 19.8px;
    height: 35px;
}

.goBackButton img {
    transform: scale(10%);
}

@keyframes fadein-fadeout {
    0% {background-color: rgba(255, 99, 71, 0); color: rgba(0, 0, 0, 0);}
    50% {background-color: tomato; color: black;}
    100% {background-color: rgba(255, 99, 71, 0); color: black;}
}

.itemAddedTag {
    animation: fadein-fadeout 2s ease;
    position: absolute;
    top: 20px;
}