.addedItemBox {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 20px 30px;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

.itemPic {
    width: 100px;
    height: 100px;
    margin: 5px;
}

/* .addedItemDetailsBox {

} */

#trashCanBtn {
    background: none;
    border: none;
    box-shadow: none;
}

#trashCanBtn img {
    width: 20px;
    height: 20px;
}