.App-header {
    grid-area: header;
    padding: 0 1.5rem;
    background-color: rgba(245, 245, 245, 0.95);
    justify-content: space-between;
    position: sticky;
    top: -2rem;
}
  
#logoContainer {
    flex-grow: 1;
    font-weight: 500;
}