.cartWidget {
    position: relative;
}

/* .cartWidget::after {
    content: "item added";
    display: inline-block;
    position: absolute;
    right: 4rem;
    top: .7rem;
    width: max-content;
    font-size: 1.2rem;
    color: rgb(85, 85, 85);
    background-color: rgb(212, 212, 212);
    padding: .3rem 1rem;
    border-radius: .3rem;
} */

.itemsInCartLabel {
    position: absolute;
    bottom: 1.5rem;
    left: 2rem;
    width: 1.8rem;
    height: 1.8rem;
    padding: .1rem;
    color: black;
    background-color: var(--third-color);
    font-size: 1.6rem;
    font-weight: 800;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}