.itemBox {
    display: flex;
    width: 28%;
    margin: 3rem 0;
    justify-content: center;
    text-align: center;
    border: solid 3px whitesmoke;
    border-radius: 5px;
    overflow: hidden;
}

.wrapper {
    width: 75%;
}

.imgBox {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 40rem;
}

.imgBox img {
    height: 100%;
}

.itemInfo {
    justify-content: space-between;
    padding: 1rem .3rem;
}
