.itemCountBox {
    display: flex;
    flex-flow: row;
    margin: 30px 0;
}

button, p {
    display: inline-block;
}

.sinStockLabel {
    color: rgb(63, 63, 63);
    background-color: rgb(211, 211, 211);
    font-size: 14px;
    padding: 3px 5px;
    margin-left: 3px;
    border-radius: 20px;
}